html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    min-height: 100vh;

    display: grid;

    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";

    grid-template-rows: min-content 1fr min-content;
}

.cabecalho {
    grid-area: cabecalho;
}

.principal {
    grid-area: principal;
}

.rodape {
    grid-area: rodape;
}

