/* Documento de base para definir padrões que seram utilizados em todas as páginas */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    min-height: 40vh;

    display: grid;

    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";

    grid-template-rows: min-content 1fr 150px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.cabecalho {
    grid-area: cabecalho;
}

.principal {
    grid-area: principal;
}

.rodape {
    grid-area: rodape;
    background-color: var(--main);
}

/*estilização a ser adicionada*/
iframe{
    display: flexbox;
    justify-content: baseline;
    width: 650px;
    height: 450px;
    padding: 15px;
    margin-left: 100px;
    border: 0px;
}
