/* Documento de base para definir padrões que seram utilizados em todas as páginas */

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;                     
    min-height: 100dvh;             
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


.cabecalho {
    grid-area: cabecalho;
    position: relative;
    z-index: 1000;
}

.principal {
    grid-area: principal;
}

.rodape {
    grid-area: rodape;
    background-color: var(--main);
    padding: 20px 15px;
    min-height: 120px;
}