nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--main);
    color: white;
    height: 45px;

    
}

.main-content {
    display: flex;

}

.image-placeholder {
    width: 30%;
    background-color: blueviolet;
}

.main-text {
    width: 70%;
    padding: 0 16px;
}

.main-text h1 {
    text-align: center;
    margin: 15px 0;
}

.main-text p {
    text-align: justify;
    text-indent: 35px;
    line-height: 1.5;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

.banner {
    width: 50%;
    clip-path: inset(10px);
}

.content {
    background-color: var(--theme-claro);
    color: black;
}

.faq {
    margin: 15px 0;
    padding: 16px;
}

.faq h2 {
    margin-bottom: 15px;
}

.pergunta {
    background-color: rgb(158, 158, 158);
}

.pergunta p {
    padding: 0 15px 15px 15px;
}

.pergunta h3 {
    background-color: var(--secondary);
    color: white;
    text-indent: 35px;
    text-transform: uppercase;
    user-select: none;
    font-size: 1.2em;
    padding: 5px 0;
    border-radius: 0 15px 0 15px;
    width: 50%;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
