nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--navbar);
    color: white;
    height: 45px;

    
}

.main-content {
    display: flex;

}

.image-placeholder {
    width: 30%;
    background-color: blueviolet;
}

.main-text {
    width: 70%;
    padding: 0 16px;
}

.main-text h1 {
    text-align: center;
}

.main-text p {
    text-align: justify;
    text-indent: 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

a {
    text-transform: uppercase;
    font-family: Verdana;
    color: #fefefe;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    font-weight: 650;
    cursor: pointer;
    border: 30px;
}

a:hover {
    background-color: #fefefe;
    color: black;
    text-shadow: black 10px;
    transform: scale(1.1);
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

.banner {
    width: 50%;
    clip-path: inset(10px);
}

.content {
    background-color: var(--theme-claro);
    color: black;
}
