nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--main);
    color: white;
    height: 45px;

    
}

.introducao {
    width: 100%;

}

.image-placeholder {
    width: 30%;
    background-color: blueviolet;
}

.main-text {
    width: 70%;
    padding: 0 16px;
}

.main-text h1, .main-text h2 {
    text-align: center;
    margin: 7px 0;
}

.main-text p {
    text-align: justify;
    text-indent: 35px;
    line-height: 1.5;
}

.content {
    background-color: var(--theme-claro);
    color: black;
}
