body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--navbar);
    color: white;
    height: 45px;

    
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

a {
    text-transform: uppercase;
    font-family: Verdana;
    color: #fefefe;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    font-weight: 650;
    cursor: pointer;
    border: 30px;
}

a:hover {
    background-color: #fefefe;
    color: black;
    text-shadow: black 10px;
    transform: scale(1.1);
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1c1c1c;
}

.banner {
    width: 50%;
}

.content {
    background-color: var(--theme-claro);
    color: black;
}
/*isso é só placeholder, pra eu poder ver a porra da nav bar*/
main {
    margin-top: 100px;
}