.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    padding: 80px 20px 30px;
}

.banner {
    width: 180px;
    height: auto;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.2));
    transition: 0.3s;
}

@media (max-width: 480px) {
    .banner {
        width: 140px;
    }
}