.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    text-transform: uppercase;
    font-family: Verdana;
    color: var(--secondary);
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    font-weight: 650; 
    cursor: pointer;
    border: 30px;
    border-radius: 0 0 5px 5px;
}

.navbar a:hover {
    background-color: var(--secondary);
    color: var(--main);
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--main);
    color: var(--secondary);
    height: 45px;
}

.footerbar {
    display: flex;
    flex-direction: column;
    height: 30px;
}

.WP, .Insta{
    display: flex;
    color: rgb(255, 255, 255);
    margin-right: 8%;
    align-self: last baseline;
}


a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-decoration:none;
    font-weight: bolder;
    text-align: center;
}

.footerbar a {
    margin-bottom: 15px;
}

h5 {
    color: white;
    margin-left: 1.0%;
    align-self: baseline;
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    padding-top: 50px;
}

.banner {
    width: 15vw;
    padding-bottom: 8px;
}