.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--main);
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

.navbar a {
    color: var(--secondary);
    text-decoration: none;
    padding: 14px 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.95rem;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: var(--secondary);
    color: var(--main);
}

#menu-toggle {
    display: none;
}

.menu-hamburger {
    display: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 1.8rem;
    color: white;
}

.footerbar {
    display: flex;
    flex-direction: column;
    height: 30px;
}

.WP, .Insta{
    display: flex;
    color: rgb(255, 255, 255);
    margin-right: 8%;
    align-self: last baseline;
}


a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-decoration:none;
    font-weight: bolder;
    text-align: center;
}

.footerbar a {
    margin-bottom: 15px;
}

h5 {
    color: white;
    margin-left: 1.0%;
    align-self: baseline;
}