.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    text-transform: uppercase;
    font-family: Verdana;
    color: #fefefe;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    font-weight: 650; 
    cursor: pointer;
    border: 30px;
}

.navbar a:hover {
    background-color: #fefefe;
    color: black;
    text-shadow: black 10px;
    transform: scale(1.1);
}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

.banner {
    width: 50%;
    clip-path: inset(10px);
}