@import "./base/base.css";
@import "./base/typography.css";

@import "./components/navbar.css";
@import "./components/card.css";
@import "./components/section.css";

@import "./pages/index.css";

@import "./utilities/variables.css";