* {
    margin: 0px;
    padding: 0px;
}

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 45px;
}

a {
    text-transform: uppercase;
    font-family: Verdana;
    color: #fefefe;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    font-weight: 650;
    cursor: pointer;
    border: 30px;
}

a:hover {
    background-color: #fefefe;
    color: black;
    text-shadow: black 10px;
    transform: scale(1.1);
}

/*isso é só placeholder, pra eu poder ver a porra da nav bar*/
main {
    margin-top: 100px;
}

footer {
    flex: 1;
}

.div1, .div2, .div3, .div4, .div5 {
    background-color: gray;
    height: 300px;
}